
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transpolar - Autos & Transportation Category Bootstrap Responsive Template | About :: W3layouts </title>
    <link href="//fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style-starter.css">
</head>

<body>
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1><a class="navbar-brand" href="index.html">
                        <i class="fas fa-truck-moving"></i> Fuzzing
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/about">详情</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="services.html">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li> -->
                    </ul>
                    <button id="trigger-overlay" class="searchw3-icon mx-xl-4 mx-lg-3" type="button"><i class="fas fa-search"></i></button>
                    <div class="overlay overlay-slidedown">
                        <button type="button" class="overlay-close"><i class="fas fa-times"></i></button>
                        <nav class="w3l-formhny">
                            <h5 class="mb-3">搜索</h5>
                            <form action="#" method="GET" class="d-sm-flex search-header">
                                <input class="form-control me-2" type="search" placeholder="请输入关键字..." aria-label="Search" required>
                                <button class="btn btn-style btn-primary" type="submit">Search</button>
                            </form>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-lg-5 mt-4">
                            详情</h2>
                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="/">首页</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> 详情</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/about-page-->
    <section class="w3l-ab-page py-5" id="about1">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row align-items-center">
                <div class="col-lg-6 pe-lg-5">
                    <h6 class="title-subw3hny mb-2"></h6>
                    <h3 class="title-w3l mb-2">word2vec + 随机森林 vs 贝叶斯
                    </h3>

                    <p class="mt-3">Word2Vec是google在2013年推出的一个NLP工具，它的特点是能够将单词转化为向量来表示，
                        这样词与词之间就可以定量的去度量他们之间的关系，挖掘词之间的联系。
                        贝叶斯分类解决不确定统计分类的问题。已知每个类别的样本取得不同特征向量的概率，
                        实现依据某个待识别样本的特征向量计算该样本属于每一个类别的概率。随机森林就是通过集成学习的思想将多棵树集成的一种算法，它的基本单元是决策树，而它的本质属于机器学习的一大分支，从直观角度来解释，每棵决策树都是一个分类器（假设现在针对的是分类问题），那么对于一个输入样本，
                        棵树会有个分类结果。
                    </p>
                    <div class="row two-grids mt-5 pt-lg-4">
                        <div class="col-sm-6 grids_info d-flex">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <div class="detail ms-3">
                                <h4>word2vec + 随机森林</h4>
                                <p>精确率0.80
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 grids_info d-flex">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <div class="detail ms-3">
                                <h4>
                                    贝叶斯</h4>
                                <p>精确率：0.72
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 text-end mt-lg-0 mt-5 position-relative">
                    <img src="/static/images/ab.jpg" alt="" class="img-fluid radius-image">
                    <div class="imginfo__box">
                        <h6 class="imginfo__title">w+</h6>
                        <p>bug分类</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="w3l-stats-section py-5 pt-0" id="stats">
        <div class="container py-md-5 pt-0">
            <div class="w3l-stats-inner-inf">
                <div class="row stats-con">
                    <div class="col-lg-3 col-6 stats_info counter_grid">
                        <p class="counter">4492 </p>
                        <h3>数据集</h3>
                    </div>
                    <div class="col-lg-3 col-6 stats_info counter_grid">
                        <p class="counter">4200 </p>
                        <h3>数据清洗</h3>
                    </div>
                    <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-4">
                        <p class="counter">130 </p>
                        <h3>分类标签</h3>
                    </div>
                    <!-- <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-4">
                        <p class="counter">3020</p>
                        <h3>Happy Clients</h3>
                    </div> -->

                </div>
            </div>
        </div>
    </section>

    <section class="w3l-join-main py-5">
        <div class="container py-md-5">
            <div class="w3l-project-in">
                <div class="row bottom-info text-left">
                    <div class="col-lg-7 w3l-project-in-left pe-lg-5">
                        <h6 class="title-subw3hny mb-2"></h6>
                        <h3 class="title-w3l two mb-2">了解更多关于syzkaller与moonshine请登录并测试！
                        </h3>


                    </div>
                    <div class="col-lg-5 w3l-project-in-right">
                        <div class="w3banner-content-btns">
                            <!-- <a href="about.html" class="btn btn-style btn-white mt-4">Read More </a> -->
                            <a href="/admin" class="btn btn-style btn-primary mt-4 ms-3">登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section >
    </section>

    <div class="w3l-faq-block py-5" id="faq">
        <div class="container content-gd py-lg-5">
            <div class="row mt-3">
                <div class="col-lg-6 faqw3-right pe-lg-5">
                    <div class="faqw3content text-left">
                        <!-- <h6 class="title-subw3hny mb-1 text-left"></h6> -->
                        <h3 class="title-w3l mb-2">常见问题</h3>
                    </div>
                    <p class="mb-3">根据 syzbot 对已修复 linux bug 的分类结果，通过上述提到方法，对注入的 linux 内核漏洞检测报告进行智能分类。
                    </p>
                    <p class="">此网站采用go语言的gin框架，并嵌入python机器学习部分。
                    </p>
                </div>
                <div class="col-lg-6 faqw3-left">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    01. Syzkaller 测试的那个系统?
                                </button>
                            </h4>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    本网站实现 Syzkaller 测试 linux 内核。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    02.  linux 版本是?
                                </button>
                            </h4>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    linux-5.14
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    03. Syzkaller采用什么方式测试?
                                </button>
                            </h4>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    ubuntu20.04、QEMU
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingFourth">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourth" aria-expanded="false" aria-controls="collapseFourth">
                                    04. bug 分类数据集合?
                                </button>
                            </h4>
                            <div id="collapseFourth" class="accordion-collapse collapse" aria-labelledby="headingFourth" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    python 爬取 https://syzkaller.appspot.com/upstream/fixed 该网站已分类的 bug report ’sample‘ 与 ‘title’
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="w3l-footer9">
        <section class="footer-inner-main py-5">
            <div class="container py-md-4">
                <!-- <div class="below-section mt-lg-5 pt-lg-4"> -->
                    <div class="copyright-footer">
                        <p class="copyright-column">Copyright &copy;2023.All rights reserved.</p>

                        <ul class="footer-w3list text-right">
                            <li><a href="#">LQQ</a>
                            </li>
                            <li><a href="#">162468777486@qq.com</a>
                            </li>
                        </ul>
                    </div>

                <!-- </div> -->
            </div>
        </section>


        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fas fa-level-up-alt" aria-hidden="true"></span>
        </button>
        <script>
            
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

        </script>
    </footer>

    <!-- Template JavaScript -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/theme-change.js"></script>
    <!--/search-->
    <script src="/static/js/modernizr.custom.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/demo1.js"></script>
    <!--//search-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!-- //bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
