<!DOCTYPE html>
 <html lang="zh-CN">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- <meta http-equiv="refresh" content="10"> -->
     <link rel="stylesheet" href="/static/css/style2.css">
     <link rel="stylesheet" href="/layui/css/layui.css">
     <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
 
     <title>Fuzz后台管理</title> 
 </head>
 <body>
     <nav class="sidebar close">
         <header>
             <div class="image-text">
                 <span class="image">
                    {{if ne .src ""}}
                     <img src="{{.src}}" alt="">
                     {{else}}
                     <img src="/static/img/adminlogo.jpg" alt="">
                     {{end}}
                 </span>
 
                 <div class="text logo-text">
                     <span class="name">{{.username}}</span>
                     <span class="profession">欢迎</span>
                 </div>
             </div>
 
             <i class='bx bx-chevron-right toggle'></i>
         </header>
 
         <div class="menu-bar">
             <div class="menu">
                 <ul class="menu-links">
                     <li class="nav-link">
                         <a href="ifameSelect?id={{.id}}" class="fuzzcent" target="aaa">
                             <i class='bx bx-home-alt icon' ></i>
                             <span class="text nav-text">开始测试</span>
                         </a>
                     </li>
 
                     <li class="nav-link">
                         <a href="fuzzList" class="fuzzcent" target="aaa">
                             <i class='bx bx-bar-chart-alt-2 icon' ></i>
                             <span class="text nav-text">测试清单</span>
                         </a>
                     </li>
 
                     <li class="nav-link">
                         <a href="resultSta" class="fuzzcent" target="aaa">
                             <i class='bx bx-bell icon'></i>
                             <span class="text nav-text">结果统计</span>
                         </a>
                     </li>
 
                     <li class="nav-link">
                         <a href="PerFuzzList" class="fuzzcent" target="aaa">
                             <i class='bx bx-pie-chart-alt icon' ></i>
                             <span class="text nav-text">个人测试</span>
                         </a>
                     </li>
 
                     <li class="nav-link">
                         <a href="/admin/editUser" class="fuzzcent" target="aaa">
                             <i class='bx bx-heart icon' ></i>
                             <span class="text nav-text">修改账户</span>
                         </a>
                     </li>
 
                     <li class="nav-link">
                         <a href="syzkallerConfig" class="fuzzcent" target="aaa">
                             <i class='bx bx-wallet icon' ></i>
                             <span class="text nav-text">bug分类</span>
                         </a>
                     </li>
 
                 </ul>
             </div>
 
             <div class="bottom-content">
                 <li class="">
                     <a href="/admin/logout">
                         <i class='bx bx-log-out icon' ></i>
                         <span class="text nav-text">登出</span>
                     </a>
                 </li>
                 
             </div>
         </div>
 
     </nav>
 
     <section class="home">
         <div class="text">
 
            <iframe src="ifameSelect?id={{.id}}" name="aaa" id="main" height="900" width="1200" frameborder="0" ></iframe>

         </div>
     </section>
     <script src="/static/script/script2.js"></script>
     <script src="/layui/layui.js"></script>
     <script>
        layui.use('element',function(){
            var element = layui.element;
            var $=layui.jquery;
            $(document).ready(function(){
                $("#fuzzcent").click(function(e){
                    e.preventDefault();
                    $('#main').attr("src",$(this).attr("href"));
                });
            });
        });
     </script>
 </body>
 </html>
